@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 80px;
  color: #5c5c5c;
  background: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 26px;
}
a {
  color: #34495e;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.btn {
  font-weight: 400;
}

.btn-md {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
.page-header{ border:none; text-align:center;}
.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}
.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}
body > section {
  padding: 50px 0;
}
.turquoise,
.green-sea,
.sun-flower,
.orange,
.emerald,
.nephrits,
.carrot,
.pumkin,
.peter-river,
.belize-hole,
.alizarin,
.pomegranate,
.amethyst,
.wisteria,
.clouds .silver,
.wet-asphalt,
.midnight-blue,
.concrete,
.asbestos {
  color: #fff;
}
.turquoise small,
.green-sea small,
.sun-flower small,
.orange small,
.emerald small,
.nephrits small,
.carrot small,
.pumkin small,
.peter-river small,
.belize-hole small,
.alizarin small,
.pomegranate small,
.amethyst small,
.wisteria small,
.clouds .silver small,
.wet-asphalt small,
.midnight-blue small,
.concrete small,
.asbestos small {
  color: rgba(255, 255, 255, 0.8);
}
.turquoise {
  background-color: #1abc9c;
}
.green-sea {
  background-color: #16a085;
}
.sun-flower {
  background-color: #f1c40f;
}
.orange {
  background-color: #f39c12;
}
.emerald {
  background-color: #2ecc71;
}
.nephritis {
  background-color: #27ae60;
}
.carrot {
  background-color: #e67e22;
}
.pumkin {
  background-color: #d35400;
}
.peter-river {
  background-color: #3498db;
}
.belize-hole {
  background-color: #2980b9;
}
.alizarin {
  background-color: #e74c3c;
}
.pomegranate {
  background-color: #c0392b;
}
.amethyst {
  background-color: #9b59b6;
}
.wisteria {
  background-color: #8e44ad;
}
.clouds {
  background-color: #ecf0f1;
}
.silver {
  background-color: #bdc3c7;
}
.wet-asphalt {
  background-color: #1E3C82;
}
.wet-asphalt a:not(.btn) {
  color: #bdc3c7;
}
.wet-asphalt a:not(.btn):hover {
  color: #d9534f;
}
.midnight-blue {
  background-color: #2c3e50;
}
.concrete {
  background-color: #95a5a6;
}
.asbestos {
  background-color: #7f8c8d;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */


  padding-top: 30px;
  /* IE6 workaround*/

  height: 0;
  overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/*Overrides Content*/
#director_message {
  background: #1E3C82;
  min-height: 400px;
  width: 80%;
  margin: 0 auto;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  
}

#director_message h2 {
  margin-bottom: 25px;
  opacity: .8;
  padding-top: 10px;
}


.red {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

section#director_message {
  height: auto;
  padding-top: 20px;
}

#director_message h2, p, span{
  color: white;
  margin-top: 0;
  padding-right: 3px;
}

.director-font {
  padding-right: 6px;
  margin-top: 7px;
  overflow:  hidden;
  min-width: 400px;
  max-width: 600px;
}

#director_message .director-font h2 {
  font-weight: bold;
  color: white;
}


#location {
  background: white;

}

#location p {
  color: #5c5c5c;
  font-size: 17px;
}

#service {
  background: #fff;
}

#testimonial {
  -webkit-transition: .8s;
     -moz-transition: .8s;
      -ms-transition: .8s;
       -o-transition: .8s;
          transition: .8s;
   
}

#testimonial:hover {
  background: white;
  -webkit-border-top-right-radius: 18px;
          border-top-right-radius: 18px;
  -webkit-border-top-left-radius: 18px;
          border-top-left-radius: 18px;
  margin-top: -7px;
}

#testimonial h2 {
  margin-top: 0;
  margin-bottom: 0;
}


.white {
  background: #f9f9f9;
  -webkit-border-radius: 8px;
          border-radius: 8px;
      padding-left: 20px;
}

.seperator {
  height: 1px;
  background: #ccc;
  
}

.row.white {
  margin-bottom: 10px;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffff;
}

.spacing {
   background: red;
   margin: 10px;
}

.service_times {
  color: black;
  line-height: 27px;
  margin-top: 30px;
  font-size: 17px;

}
/*
.boxxed {
  
}*/

.width_80 {
  width: 80%;
}
.blue {
  background: red;
}

.underline {
  font-style: oblique;
  font-weight: bold;
  text-decoration: underline;
}

.underline:hover {
  background: transparent;
  -webkit-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
  
}

.carousel-inner {
  width: 80%;
  margin: 0 auto;
}
#main-ky-container p,
.program-font {
  color: black;
  padding: 20px 70px;
  line-height: 1.7;
}

.location_info {
  padding: 40px;
  margin-top: 40px;
}
/* This is where bug is in 
.carousel.slide {
}*/

.programs {
    border: 1px solid white;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: .41s;
    -moz-transition: .41s;
    -ms-transition: .41s;
    -o-transition: .41s;
    transition: .41s;
    height: 520px;

}

.programs:hover {
  border: 2px solid #f3f3f3;
  background: #f3f3f3;
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);

  box-shadow: 0 3px 5px #ccc;

}
.fb_icon {
  position: relative;
  height: 40px;
  margin-top: -10px;
  margin-right: 25px;
  -webkit-transition: 1s;
     -moz-transition: 1s;
      -ms-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
}
.fb_icon:hover {
   -webkit-transform: scale(1.25);
     -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
       -o-transform: scale(1.25);
          transform: scale(1.25);
  

}

.fb_icon_bottom {
  height: 40px;
  margin-bottom: -15px;
}

.icon-angle-down {
  margin-left: 2px;
}

.lt_gray {
  background: #eaeaea; 
}

.maps {
  width: 100%;
}
.maps-img  {
  width: 700px;
  
}

.animation {
  text-shadow: 1px 1px 2px #000;
}

.services {
  width: auto;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 8px;
  border: #000;
}

img.services {
  text-align: center;
  width: 90%;
}

.media-heading {
  text-align: center;
  margin: 10px 20px 0;
  font-weight: 400;
  color: darkblue;
  height: 60px;
}
.media-heading:hover {
 color: #34495E; 
}


.email_link {
  color: #234b92;
  font-weight: bold;
  line-height: 0;
}
.phone {
  display: inline-block;
  margin: 0;
  color: #8f98a1;
  font-weight: bold;
  line-height: 0;
  margin-left: 20px;
}

.dr_chinwe {
  height: 200px;
  margin-top: 40px;
  width: 200px;
  margin-top: 2px;
  margin-left: 4px;
  -webkit-border-radius: 120px;
          border-radius: 120px;
  border: 5px solid #fff;
}

#top_content_header {
  height: 10px;
  padding: 50px 0;
  background: #eaeaea;
  width: 80%;
  margin: 0 auto;
  margin-top: -30px;
  -webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
         -o-transition: 1s;
            transition: 1s;
}

p.animated-item-2 {
  line-height: 1.9;
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
}

.text-center-2 {
  width: 80%;
}

.bk_gray {
  background: #eaeaea;
}

.black {
  color: white;
  
}


.navbar-toggle {
  margin-top: 22px;
margin-right: 25px;
}

.bottom-nav {
  padding-top: 20px;
  padding-bottom: 0;
  margin-right: 10px;
}
.strong {
  font-weight: bold;
}

.bottom-nav .email_link {
  margin-right: 20px;
}

.bottom-nav .email_link:hover {
  color: #333;
}

.talent {
  width: 50%;
  margin: 0 auto;
}
div.item-image{ text-align: center;float:none!important}
div.item-image img,
img.talent {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  min-width: 200px;
}


.blue {
  background: blue;
}

#main-slider h2 {
  color: white;
}

#main-slider {
  position: relative;
}
#main-slider .carousel h2 {
  font-size: 30px;
  line-height: 1.7;
  margin-bottom: 20px;
  text-shadow: 2px 2px 1px black;
}
#main-slider .carousel .btn {
  color: #fff;
  margin-top: 15px;
  padding: 15px 50px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0 .8);

}
#main-slider .carousel .btn:hover, .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  background: #f3f3f3;
  opacity: .7;
  color: #1E3C82;
  text-shadow: 2px 2px 2px #fff;
}
#main-slider .carousel .boxed {
  padding: 20px 65px;
  background-color: rgba(0, 0, 0, 0.58);
  display: inline-block;
  line-height: 40px;

  -webkit-border-radius: 12px;
          border-radius: 12px;
}


#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 600px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 5;
  border-radius: 90px;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 90px;
}
#main-slider .prev {
  left: 0;
}
#main-slider .next {
  right: 0;
}
#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}
#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}
#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}
#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}
.media {
  margin: 0 auto;
  text-align: center;
}

/*#services .media:hover .icon-md {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}*/

#recent-works {
  padding: 90px 0;
}
#recent-works .item-inner {
  position: relative;
  margin: 0;
}
.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 -20px 20px 0;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portfolio-items.col-2 > li {
  width: 50%;
}
.portfolio-items.col-3 > li {
  width: 33%;
}
.portfolio-items.col-4 > li {
  width: 25%;
}
.portfolio-items.col-5 > li {
  width: 20%;
}
.portfolio-items.col-6 > li {
  width: 16%;
}
.portfolio-item {
  padding: 0;
  margin: 0;
}
.portfolio-item .item-inner {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px 10px 0;
  margin: 0 20px 20px 0;
  position: relative;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item h5 {
  background: #fff;
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  color: #2c3e50;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#pricing-table .plan {
  border-radius: 4px;
  list-style: none;
  margin: 0 0 20px;
  background: #3498db;
  text-align: center;
  padding: 30px 0;
}
#pricing-table .plan li {
  padding: 5px 0;
  color: #fff;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
#pricing-table .plan li.plan-name {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}
#pricing-table .plan li.plan-name h3 {
  margin: 0;
}
#pricing-table .plan li.plan-price {
  margin-bottom: 10px;
}
#pricing-table .plan li.plan-price > div {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 24px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
#pricing-table .plan li.plan-price > div sup {
  font-size: 10px;
  line-height: 10px;
}
#pricing-table .plan li.plan-price > div > small {
  display: block;
  font-size: 11px;
}
#pricing-table .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
#pricing-table .plan.featured {
  background-color: #2c3e50;
}
#title h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}

.item.hero-style {
   background-repeat: repeat;
    
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.center.centered {
  background: rgba(0, 0, 0, .6);
  -webkit-border-radius: 12px;
          border-radius: 12px;
      padding: 20px 0;
}

div.carousel-content.center.centered {
  margin-top: 10px;
}
.centered {
  text-align: center;
  margin: 0 auto;
}

#meet-the-team .designation {
  margin-top: 5px;
  display: block;
  font-size: 13px;
}
.img-thumbnail {
  border: 0;
}
.progress,
.progress .bar {
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 30px;
  line-height: 30px;
}
.well {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
ul.breadcrumb {
  margin: 20px 0 0;
  background: transparent;
}
ul.breadcrumb > li {
  text-shadow: none;
}
ul.breadcrumb > li > a,
ul.breadcrumb > li .divider {
  color: #fff;
}
ul.breadcrumb > li.active {
  color: rgba(255, 255, 255, 0.7);
}
ul.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.tag-cloud li {
  display: inline-block;
  margin: 0 0 2px 0;
}
.btn-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}
.btn-social.btn-facebook {
  background: #4f7dd4;
}
.btn-social.btn-facebook:hover {
  background: #789bde;
}
.btn-social.btn-twitter {
  background: #5bceff;
}
.btn-social.btn-twitter:hover {
  background: #8eddff;
}
.btn-social.btn-linkedin {
  background: #21a6d8;
}
.btn-social.btn-linkedin:hover {
  background: #49b9e3;
}
.btn-social.btn-google-plus {
  background: #dc422b;
}
.btn-social.btn-google-plus:hover {
  background: #e36957;
}
.btn-social:hover {
  color: #fff;
}
.navbar-inverse {
  border: none;
  background: #1E3C82;

}
.navbar-inverse .navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
}
.navbar-inverse .navbar-brand:hover {
  color: #f3f3f3;
  
}
.navbar-inverse .navbar-nav {
  margin-top: 23px;
}
.navbar-inverse .navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
}

.navbar-inverse .navbar-toggle{
  -webkit-transition: .6s;
     -moz-transition: .6s;
      -ms-transition: .6s;
       -o-transition: .6s;
          transition: .6s;
      border: 1px solid #ccc;
}
#upcoming-events .article-info, #upcoming-events div.icons,#upcoming-events .page-header,#upcoming-events ul.pagenav,
#main-ky-container .article-info,#main-ky-container ul.pagenav,
#main-ky-container div.icons{display:none;}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background: #f3f3f3;

}
#footer.navbar-default .navbar-nav>.active>a,
#footer .nav>li>a:hover, #footer.nav>li>a:focus{ background:transparent !important;}
.navbar-inverse .navbar-nav li.parent a:after{
	content:"\f107";
   font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
    width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  margin-left:2px;
}
.navbar-inverse .navbar-nav li.parent ul a:after{content:""}
.navbar-inverse .navbar-nav li.parent:hover .dropdown-menu
{
	display:block;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus 
.navbar-inverse .navbar-nav > li.parent:hover > a,
.navbar-inverse .navbar-nav > li.parent:hover > a:hover,
.navbar-inverse .navbar-nav > li.parent:hover > a:focus 

{
  background-color: #1E3C82;
}


.navbar-inverse .navbar-nav .open .dropdown-menu > li > a, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav li.parent:hover .dropdown-menu > li > a, .navbar-inverse .navbar-nav li.parent:hover .dropdown-menu > li > a:focus,
 {
  background: #1E3C82;
  color: white;
}



section#director_message .top-space {
    margin-top: 20px;
}
.top-space  p {
  margin-top: 10px;
}



.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: #1E3C82;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin-top: -3px;
}
.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
  font-weight: bold;
}
.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
}
#social-media .icon-facebook {
  background-color: #3c5899;
}
#social-media .icon-facebook:hover {
  background-color: #4e6fba;
}
#social-media .icon-twitter {
  background-color: #29c5f6;
}
#social-media .icon-twitter:hover {
  background-color: #5ad2f8;
}
#social-media .icon-google-plus {
  background-color: #d13d2f;
}
#social-media .icon-google-plus:hover {
  background-color: #da6459;
}
#social-media .icon-pinterest {
  background-color: #c61118;
}
#social-media .icon-pinterest:hover {
  background-color: #ec1e26;
}
.icon-lg {
  font-size: 48px;
  height: 108px;
  width: 108px;
  line-height: 108px;
  color: #fff;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: inline-block !important;
  border-radius: 100%;
}
.icon-md {
  font-size: 36px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: block;
  border-radius: 50%;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
.modal {
  border: 0;
}
.modal#loginForm {
  width: 600px;
  margin-left: -300px;
}
.modal .modal-header {
  border: 0;
  padding: 20px 20px 0;
}
.modal .modal-header > h4 {
  font-weight: 300;
  font-size: 14px;
  color: #848484;
  text-transform: uppercase;
  margin: 0;
}
.modal .modal-body {
  padding: 20px;
}
.modal input[type="text"],
.modal input[type="password"] {
  padding: 5px 10px;
  min-height: 30px;
  width: 130px;
  margin-right: 10px;
}
.modal .icon-remove {
  color: #848484;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  display: block;
  background: #ebebeb;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
}
.modal button {
  margin-left: 10px;
  border: 0;
}
.gap {
  margin-bottom: 50px;
}
.big-gap {
  margin-bottom: 100px;
}
.no-margin {
  margin: 0;
  padding: 0;
}
.registration-form {
  border: 0;
  background-color: #fff;
  padding: 20px;
  display: inline-block;
}
#bottom {
  color: #bdc3c7;
}
#bottom h4 {
  margin-top: 0;
  margin-bottom: 15px;
}
#bottom .media-heading {
  display: block;
  font-weight: 400;
}

.main_copy_color {
  color: #868f98;
  width: 90%;
  margin-top: 40px;
  margin: 0 auto;
}

.carousel-indicators {
  opacity: .5;
}

.row > div {
  margin-bottom: 10px;
}
ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*Unordered Lists*/
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before,
ul.arrow li::after,
ul.arrow-double li::after,
ul.tick li::after,
ul.cross li::after,
ul.star li::after,
ul.rss li::after {
  font-family: FontAwesome;
  font-size: 11px;
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before {
  margin-right: 5px;
}
ul.arrow li::before {
  content: "\f105";
}
ul.arrow-double li::before {
  content: "\f101";
}
ul.tick li::before {
  content: "\f00c";
}
ul.cross li::before {
  content: "\f00d";
}
ul.star li::before {
  content: "\f006";
}
ul.rss li::before {
  content: "\f09e";
}
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #bdc3c7;
  background: #1E3C82;
}
#footer a {
  color: #f3f3f3;
  font-weight: bold;
  padding:0;
}
#footer a:hover {
  color: #fff;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer ul > li {
  display: inline-block;
  margin-left: 15px;
  
}
ul.social {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  display: inline-block;
}
ul.social > li {
  display: inline-block;
  margin: 0 5px;
}
ul.social > li > a {
  font-size: 24px;
  color: #666;
}
ul.social > li > a:hover {
  color: #999;
}
.box-border {
  padding: 15px;
}
.accordion-group {
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
}
.accordion-heading .accordion-toggle {
  color: #666;
  font-weight: 700;
}
.accordion-inner {
  border-top: 0;
}
.blog .blog-item {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.blog .blog-item .img-blog {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.blog .blog-item .blog-content {
  padding: 20px;
}
.blog .blog-item h3 {
  margin-top: 0;
}
.blog .blog-item .entry-meta {
  margin-bottom: 20px;
}
.blog .blog-item .entry-meta > span {
  display: inline-block;
  color: #999;
  margin-right: 10px;
  font-size: 12px;
}
.blog .blog-item .entry-meta > span a {
  color: #999;
}
ul.pagination > li > a {
  border: 0;
}
ul.pagination > li.active > a,
ul.pagination > li:hover > a {
  background-color: #34495e;
  color: #fff;
}
textarea#message {
  padding: 10px 15px;
  height: 219px;
}
.widget {
  margin-bottom: 30px;
}
ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}
ul.faq {
  list-style: none;
  margin: 0;
}
ul.faq li {
  margin-top: 30px;
}
ul.faq li:first-child {
  margin-top: 0;
}
ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}
ul.faq li > div {
  margin-left: 70px;
}
ul.faq li > div h3 {
  margin-top: 0;
}
#error {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}


  img.services.height {
    background: red;
    height: 400px;
  }


@media(max-width: 400px) {
    .navbar-inverse .navbar-brand {
      font-size: 20px;
    }
 /*   h2.animation, p.animation {
      margin-top: -30px;
    }*/
    #main-slider .carousel .item {
      height: 550px;
    }
    .navbar-toggle {
      margin-top: 23px;
      margin-right: 15px;
    }
    #main-slider .carousel h2{
      font-size: 20px;
      margin-top: 0;
    }
    #testimonial h2 {
      font-size: 18px;
      text-align: center;
    }
  section#location {
    padding-top: 0;
  }

section#service {
  padding-bottom: 0;
  padding-top: 10px;
}

 .programs {
    width: 80%; 
  }

img.services {
  text-align: center;
  }

  .col-xs-12.programs {
  margin: 0;
  width: 100%;
  }
  #main-ky-container p,
.program-font {
  padding: 40px;
}
div.programs {
  width: 80%;
}
section#director_message {
    height: 700px;
  }
}


@media(max-width: 420px) {

    #footer ul > li {
      float: left;
    }
    p.animated-item-2 {
    width: 100%;
    }
  }


@media(max-width: 700px){ 
      .carousel-inner {
          width: 100%;
      }
      #director_message {
        width: 100%;
        height: auto;
      }  
    .services {   
        height: auto;
      }
    }


@media(max-width: 992px){
  .programs {
    width: 80%; 
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    margin-top: 40px;
    border: 1px solid #fff;
  }
  #director_message {
    height: auto;
  }
    #top_content_header{
      opacity: 0;
      margin-top: -103px;
    }
  .service_times {
    text-align: center;
  }
/*
  p.animated-item-2 {
    width: 60%;
  }*/
}

/*Max browser width media queries*/
@media(min-width: 991px){
 
  #director_message {
    height: 340px;
    min-height: 340px;
  }
 .offered .col-md-4 {
  width: 32%;
  margin: 0 5px;
  }

.carousel-inner .item {
  background: #f3f3f3;
  position: absolute;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  }


}

@media (max-width: 767px)
{
.navbar-inverse .navbar-nav li.parent:hover .dropdown-menu {
  position: static;
  float: none;
  width: auto;
}
}
